<div class="pp-background-container pp-heading-block">
  <h1>Hi,
    <br>
    I'm <span class="pp-accent-400">{{name}}</span>
  </h1>
  <p class="pp-heading-block-description">
    Software Developer / Full Stack Web Developer / <br><br>
    Open Source Contributor / AI-ML Enthusiast
  </p>
  <button class="pp-secondary-button">
    <a>
      Get in touch!
    </a>
  </button>
</div>
<section class="pp-background-container pp-projects-container">
  <div class="pp-projects-description">
    <h2>My <span class="pp-accent-300">Projects</span></h2>
    <p>Here is a list of all the personal projects I have done during the last 3 years.</p>
  </div>
  <mat-grid-list cols="4" rowHeight="400">
    <mat-grid-tile *ngFor="let team of teams" [routerLink]="">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{page.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{team.image}}" alt="{{team.name}}">
          <mat-card-content>
            <p>
              {{page.location}}
            </p>
          </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
<section class="pp-background-container pp-timeline-container">
  <app-timeline></app-timeline>
</section>