.pp-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    margin-top: 40px;
}

.pp-card-details {
    height: 240px;
    width: 260px;
    position: relative;
}

.pp-card-header {
    position: absolute;
    top: 120px;
    text-align: center;
    z-index: 10;
    width: 100%;
}

.pp-card-background {
    position: absolute;
    width: 260px;
    height: 240px;
    top: 0;
    background: rgba(20, 27, 65, 0.85);
}

.pp-card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}