<div class="timeline-heading">
  <h1>{{title}}</h1>
</div>
<div class="timeline">
  <div class="container right">
    <div class="content">
      <h2>2022 : Member @Oppia Foundation</h2>
      <p>In recognition to my contributions I was made a member at Oppia Foundation in January and started working on improving
        learner and creator experience. I joined the internationalisation team and work on a project which involved 1500+ lines
        of code changes.<br>
      <br>And the journey continues ............</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2021 : Collaborator @Oppia Foundation</h2>
      <p>Starting working on my personal projects and exploring various domains.<br><br>
        In the later half of the year I started my journey in the Open Source Field where I started contributing to the Oppia Foundation
        where I was later made a collaborator.<br></p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2020-2021 : Software Developer @pykih</h2>
      <p>Worked on multiple website building projects<br><br>
        Majorly on <span style="font-weight: 800;">The Humame Sites</span> web product which is actually a WordPress plugin and theme system that
        helps people create humane websites. I was majorly working in creating multiple views, end to end interactions, 
        visualisations, integrations and was leading the subscription and payment gateway integration part of the project.
      </p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2019-2020 : Software Intern @pykih</h2>
      <p>Dropped out of IIT Delhi and joined Pykih as a Software Intern.<br>
        <br>Created a <span style="font-weight: 800;">Machine Learning</span>
          model for which is currently helping <span style="font-weight: 800;">Operation Asha</span> health workers better deliver medicnes.<br>
        <br>Started learning about <span style="font-weight: 800;">Bad Data</span> and created a <span style="font-weight: 800;">Data Cleaner Package with R</span> which identified bad data 
          and provided options to clean it.</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2017 : Joined IITD</h2>
      <p>Cleared JEE Advanced and took admission in BTech in Industrial and Production Engineering at IIT Delhi.</p>
    </div>
  </div>
</div>