<div class="pp-intro-heading">
  <h2>Me, <span class="pp-accent-300">Myself & I</span></h2>
  <p class="pp-intro-description">Since the time I started as a
    python developer I have come a long way as I worked with a lot of
    different technologies and frameworks which makes a wide spectrum.<br><br>
    I have been very <span class="pp-primary-400">passionate</span> about
    <span class="pp-primary-400">Software Development</span> as a whole and
    am always looking to learn new things and improve my skills.<br><br>
    Working in a company and open source organization have made me interact
    and learm from a lot of different people across the globe.<br><br>
    As a lot of work I have done has been related to 
    <span class="pp-primary-400">Web Development, Machine Learning and DataScience</span>, these
    are the major areas I have knowledge in but I have
    never tried to limit myself to one particular technology and always tried to
    learn new things as they come up.<br><br>
  </p>
</div>
