<div class="pp-header-navbar">
  <div class="pp-logo"></div>
  <div class="pp-author-name">Pankaj Prajapati</div>
  <div class="pp-navbar-link">
    <a href="#projects_section">Projects</a>
  </div>
  <div class="pp-navbar-link">
    <a href="#about_section">About</a>
  </div>
  <div class="pp-navbar-link">
    <a href="#timeline_section">Progress</a>
  </div>
  <div class="pp-navbar-link">
    <a href="#articles_section">Articles</a>
  </div>
  <div class="pp-navbar-link">
    <a href="#contact_section">Contact</a>
  </div>
  <div class="pp-navbar-link">
    <div class="pp-social-media-links">
      <a href="https://github.com/paprajapati9" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/pankaj-prajapati-668982163/" target="_blank">
        <i class="fa fa-linkedin-square"></i>
      </a>
      <a href="https://stackoverflow.com/users/11807615/pankaj-prajapati" target="_blank">
        <i class="fa fa-stack-overflow"></i>
      </a>
    </div>
  </div>
<div>
