/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root {
    --neutral-500: #282727;
    --neutral-600: #2f2e2e;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    font-size: 6em;
    margin: 0;
}

h2 {
    font-size: 4em;
    margin: 0;
}

.pp-accent-300 {
    color: #f66214;
}

.pp-primary-400 {
    color: #14f6f6;
}

.pp-accent-400 {
    color: #f61458;
}

hr.dotted {
    border: 0;
    text-align: center;
    overflow: visible;
}

hr.dotted::before {
    content: '...';
    display: inline-block;
    margin-left: 1.5em;
    color: #8aaf10;
    font-size: 35px;
    letter-spacing: 1.5em;
}
