/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/font-awesome/css/font-awesome.css';

:root {
    --neutral-500: #282727;
    --neutral-600: #2f2e2e;
    --primary-400: #14f6f6;
    --primary-500: #44d8ff;
    --primary-600: #0cb0f1;
    --accent-300: #f66214;
    --accent-400: #ff5900;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    font-size: 6em;
    margin: 0;
}

h2 {
    font-size: 4em;
    margin: 0;
}

.pp-accent-300 {
    color: var(--accent-300)
}

.pp-primary-400 {
    color: var(--primary-400);
}

.pp-accent-400 {
    color: var(--accent-400)
}

hr.dotted {
    border: 0;
    text-align: center;
    overflow: visible;
}

hr.dotted::before {
    content: '...';
    display: inline-block;
    margin-left: 1.5em;
    color: var(--primary-400);
    font-size: 35px;
    letter-spacing: 1.5em;
}
